<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VinoMetrics - Dados Vitivinícolas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>VinoMetrics - Dados Vitivinícolas</h1>
            <nav>
                <ul>
                    <li><a href="#descricao">Descrição</a></li>
                    <li><a href="#funcionalidades">Funcionalidades</a></li>
                    <li><a href="#estrutura">Estrutura</a></li>
                    <li><a href="#execucao">Como Executar</a></li>
                    <li><a href="#rotas">Rotas Disponíveis</a></li>
                    <li><a href="#contribuicao">Contribuição</a></li>
                    <li><a href="#licenca">Licença</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <section id="descricao">
            <h2>Descrição</h2>
            <p>Este projeto desenvolve uma API utilizando FastAPI para fornecer dados detalhados sobre a produção,
                importação, exportação, comercialização e processamento de vinhos, sucos e derivados no Brasil. Os dados
                abrangem o período de 1970 até 2023, extraídos do site da Embrapa Uva e Vinho.</p>
        </section>

        <section id="funcionalidades">
            <h2>Funcionalidades</h2>
            <ul>
                <li><strong>Rotas modulares:</strong> A API está organizada em módulos, cada um responsável por um tipo
                    específico de dados.</li>
                <li><strong>Web Scraping:</strong> Os dados são extraídos diretamente de tabelas disponíveis online
                    utilizando técnicas de web scraping.</li>
                <li><strong>Persistência de Dados:</strong> Dados extraídos são armazenados e recuperados de um banco de
                    dados PostgreSQL.</li>
                <li><strong>Consultas Personalizadas:</strong> Permite consultas por ano inicial e final, além de
                    filtros específicos para diferentes categorias de produtos.</li>
            </ul>
        </section>

        <section id="estrutura">
            <h2>Estrutura do Projeto</h2>
            <ul>
                <li><strong>main.py:</strong> Arquivo principal que inicia a API e carrega todas as rotas.</li>
                <li><strong>modules/</strong>
                    <ul>
                        <li><strong>comercio.py:</strong> Rota para dados de comercialização de vinhos e derivados.</li>
                        <li><strong>producao.py:</strong> Rota para dados de produção de vinhos, sucos e derivados.</li>
                        <li><strong>processamento.py:</strong> Rota para dados de processamento de uvas.</li>
                        <li><strong>importacao.py:</strong> Rota para dados de importação.</li>
                        <li><strong>exportacao.py:</strong> Rota para dados de exportação.</li>
                    </ul>
                </li>
                <li><strong>services/</strong>
                    <ul>
                        <li><strong>database.py:</strong> Classe para manipulação de operações com o banco de dados
                            PostgreSQL.</li>
                        <li><strong>extraction.py:</strong> Funções para extração e tratamento dos dados utilizando web
                            scraping.</li>
                    </ul>
                </li>
                <li><strong>templates/</strong>
                    <ul>
                        <li><strong>index.html:</strong> Página HTML estática com informações sobre o projeto.</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section id="execucao">
            <h2>Como Executar</h2>
            <ol>
                <li><strong>Clone o repositório:</strong>
                    <pre><code>git clone https://github.com/ernaneDomingues/VinoMetrics.git
cd seu-repositorio</code></pre>
                </li>
                <li><strong>Crie e ative um ambiente virtual:</strong>
                    <pre><code>python -m venv venv
source venv/bin/activate</code></pre>
                </li>
                <li><strong>Instale as dependências:</strong>
                    <pre><code>pip install -r requirements.txt</code></pre>
                </li>
                <li><strong>Configure as variáveis de ambiente:</strong>
                    <pre><code>Crie um arquivo .env na raiz do projeto com as seguintes variáveis:
HDATABASE=nome_do_banco
HUSER=usuario_do_banco
HPASSWORD=senha_do_banco
HHOST=host_do_banco
HPORT=porta_do_banco</code></pre>
                </li>
                <li><strong>Execute a API:</strong>
                    <pre><code>uvicorn main:app --reload</code></pre>
                </li>
                <li><strong>Acesse a API:</strong>
                    <pre><code>A API estará disponível em http://127.0.0.1:8000</code></pre>
                </li>
            </ol>
        </section>

        <section id="rotas">
            <h2>Rotas Disponíveis</h2>
            <ul>
                <li><strong>GET /</strong>: Retorna a página HTML com informações sobre o projeto.</li>
                <li><strong>GET /comercio/</strong>: Dados de comercialização. Parâmetros:
                    <ul>
                        <li><code>start_year</code>: Ano inicial da consulta (obrigatório).</li>
                        <li><code>end_year</code>: Ano final da consulta (opcional, se não fornecido, retorna dados
                            somente do ano inicial).</li>
                    </ul>
                </li>
                <li><strong>GET /producao/</strong>: Dados de produção. Parâmetros:
                    <ul>
                        <li><code>start_year</code>: Ano inicial da consulta (obrigatório).</li>
                        <li><code>end_year</code>: Ano final da consulta (opcional, se não fornecido, retorna dados
                            somente do ano inicial).</li>
                    </ul>
                </li>
                <li><strong>GET /processamento/</strong>: Dados de processamento de uvas. Parâmetros:
                    <ul>
                        <li><code>index</code>: Seleciona o tipo de exportação da consulta (obrigatório).
                            <ul>
                                <li><code>0</code>: Processamento Uvas viníferas.</li>
                                <li><code>1</code>: Processamento Uvas americanas e híbridas.</li>
                                <li><code>2</code>: Processamento Uvas de mesa.</li>
                                <li><code>3</code>: Processamento Uvas sem classificação.</li>
                            </ul>
                        </li>
                        <li><code>start_year</code>: Ano inicial da consulta (obrigatório).</li>
                        <li><code>end_year</code>: Ano final da consulta (opcional, se não fornecido, retorna dados
                            somente do ano inicial).</li>
                    </ul>
                </li>
                <li><strong>GET /importacao/</strong>: Dados de importação. Parâmetros:
                    <ul>
                        <li><code>index</code>: Seleciona o tipo de exportação da consulta (obrigatório).
                            <ul>
                                <li><code>0</code>: Importação Vinhos de mesa.</li>
                                <li><code>1</code>: Importação Espumantes.</li>
                                <li><code>2</code>: Importação Uvas frescas.</li>
                                <li><code>3</code>: Importação Uvas passas.</li>
                                <li><code>4</code>: Importação Suca de uva.</li>
                            </ul>
                        </li>
                        <li><code>start_year</code>: Ano inicial da consulta (obrigatório).</li>
                        <li><code>end_year</code>: Ano final da consulta (opcional, se não fornecido, retorna dados
                            somente do ano inicial).</li>
                    </ul>
                </li>
                <li><strong>GET /exportacao/</strong>: Dados de exportação. Parâmetros:
                    <ul>
                        <li><code>index</code>: Seleciona o tipo de exportação da consulta (obrigatório).
                            <ul>
                                <li><code>0</code>: Exportação Vinhos de mesa.</li>
                                <li><code>1</code>: Exportação Espumantes.</li>
                                <li><code>2</code>: Exportação Uvas frescas.</li>
                                <li><code>3</code>: Exportação Suca de uva.</li>
                            </ul>
                        </li>
                        <li><code>start_year</code>: Ano inicial da consulta (obrigatório).</li>
                        <li><code>end_year</code>: Ano final da consulta (opcional, se não fornecido, retorna dados
                            somente do ano inicial) </li>
                    </ul>
                </li>
            </ul>
        </section>

        <section id="contribuicao">
            <h2>Contribuição</h2>
            <p>Contribuições são bem-vindas! Sinta-se à vontade para abrir uma issue ou enviar um pull request.</p>
        </section>

        <section id="licenca">
            <h2>Licença</h2>
            <p>Este projeto está licenciado sob a <a href="LICENSE">MIT License</a>.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 VinoMetrics - Dados Vitivinícolas</p>
    </footer>
</body>

</html>